.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 1.5em 0.5em;
}

.topicos__link {
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
        line-height: 36px;
    }

    .topicos__lista {
        padding: 0 17em;
    }
}